html
{
	font-family: "helvetica neue", "Arial", sans-serif;
}
body
{
	margin: 0;
	background-color: #fff;
}
p
{
	font-size: 16px;
	color: #524d4d;
}
header
{
	height: 80px;
	background-color: #fff;
}
ul
{
	margin-top: 32px;
}
ul li
{
	list-style: none;
	display: inline;
	color: #8e8e8e;
	padding-right: 12px;
}
