@import url('https://fonts.googleapis.com/css?family=Noto+Serif&subset=latin-ext');
@font-face {font-family: latonormal; src: url( ../fonts/Lato-Regular.ttf);} 
@font-face {font-family: latonormal; src: url( ../fonts/Lato-Bold.ttf); font-weight: bold} 
html { position: relative;  min-height: 100%;}
body { margin-bottom: 60px;font-family: latonormal; background:url(../images/bg.png); overflow-x: hidden; line-height: 30px; font-size: 16px; text-align: justify;}
a {color: #81cb00; text-decoration: none;}
a, a:hover, a:active, a:focus {outline:none}
a:hover, a:focus {color:#52a8d8; text-decoration: none; outline: none;}
h1 {font-size: 38px; margin-top: 10px; text-align: center; margin-bottom: 20px; font-family: 'Noto Serif', serif;}
h2 {font-size: 35px; margin-top: 30px; text-align: center; font-family: 'Noto Serif', serif;color: #fff;}
h3 {font-size: 30px; margin-top: 10px; margin-bottom: 10px; text-transform: capitalize; color: #21b1f0;}
h4 {font-size: 20px; margin-top: 10px; margin-bottom: 10px; text-transform: inherit; color: #fff; text-align: center;}
h5 {font-weight: bold;}
h6 {font-size: 30px; margin-top: 20px; margin-bottom: 25px; text-transform: inherit; color: #191931; text-align: left; font-family: 'Noto Serif',serif;}
.clr {clear: both; height: 10px; margin: 0px; padding: 0px; border: 0px;}
.clrboth {clear: both; }
.clr5 {clear: both; height: 30px; margin: 0px; padding: 0px; border: 0px;}
.clr10 {clear: both; height: 60px; margin: 0px; padding: 0px; border: 0px;}
.clr20 {clear: both; height: 100px; margin: 0px; padding: 0px; border: 0px;}
.container {padding: 0 15px;}
.container .text-muted {  margin: 20px 0;}
.topsec {background: rgb(43, 22, 117);}
#pportal {background: url(../images/Campulogo.png) no-repeat right top;width: 110px;height: 88px;position: fixed;top: 44%;right: -2px;z-index: 999;}
#myModal1 {background: #000000cc;}
.att { color:white;padding-left: 5px;}.att:hover { color:#81cb00;}
/**********mobile app**************/
.appdownload {float: left;margin: 0px 15px 0px 0px;width: 85px;}
.app-left-space{ padding-left: 30px; padding-top:10px;}
.apphead{ font-size: 20px !important;color: #ffffff !important; }
.app-left-space  h5 { color:white;       text-align: left; }
/*********************************page load MOdal popup*******************************************/
.modalpopup{background:rgba(0, 0, 0, 0.81) !important;background: #0000008f;}
.modal-body img{height:350px;width:100%;object-fit:cover;object-position:top;}
.modal-header .close {margin-top: -2px;color: #fff;opacity: 9;right: 8px;font-size: 25px;}
.modal-header{background: #b54c7e;color: white;}
.modal-header h4{color:#fff;}

/*********************TOP & Nav Section Classes**********************/
.topbar{margin: 3px 0px; color: #f5ffe6; font-size: 16px; text-align: center;padding: 0px;}
.toptxt {color: white; text-align: right;}.toptxt:hover {color: #87cc27; text-align: right;}
.navbar-brand {float: none;}
.navbar {margin-top: 0px; margin-bottom: 0px;}
.navbar-default {background-color:transparent;border: 0px !important;}
.navbar-inverse {background-color: rgba(255, 255, 255, 0.31);border: 0px;padding: 5px 0px;}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #70b50c; background-color: transparent;font-weight: bold; }
.navbtn {background: transparent;}
.navbar-inverse .navbar-nav>li>a {color: #444;font-size: 16px; border: none;}
.navbar-nav>li>a {padding-top: 12px; padding-bottom: 12px;}  
.nav>li>a{padding: 8px;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {color: #70b50c; 
background-color: transparent;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {background: transparent; color:#444;}
.navbar-nav .open .dropdown-menu {background-color: transparent;}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {color: #444;font-size: 15px;}
.navbar-nav {float: right; margin: 0; padding: 36px 0px;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {color: #70b50c; font-weight: 600; }
.dropdown-menu>li>a {font-size: 15px; background-color: white;}
.thought{color: #fff; font-size: 14px; font-style: italic; background: linear-gradient(to right, rgb(133, 194, 38) -13%, #2b1675 53%, rgb(135, 192, 44) 110%);}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {background-color: #86c127;}
/*********************About Section Classes**********************/
.scroolbg {background:rgba(36, 108, 159, 0.85);}
.scroolbg p {padding:0px; margin:0px; color:#fff; }
.school-part2 {height: auto; width: 20%; float: left;text-align: center;}
.school-part {height: auto;width: 16%;float: left;text-align: center;padding: 16px;}
.schltxt{color: #2d2114;font-size: 16px;font-weight: bold;text-align: center;margin-top: 10px;overflow: hidden;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 2.6em;line-height: 19px; text-overflow: ellipsis;}
.admin{color: #313131;font-size: 14px; font-weight: normal;text-align: center;margin-top: -10px; overflow: hidden; display: -webkit-box;
-webkit-line-clamp: 3;-webkit-box-orient: vertical; height: 3em;line-height: 22px;text-overflow: ellipsis;}
.abtbg{background: url(../images/bg.png) repeat;}
.abtbgclr{background-color: rgba(239, 208, 179, 0.23); border-bottom: 2px solid #2d7ab1;}
.asbuttext{font-size: 15px;color: #1b1b1b; text-align: justify;line-height: 26px;margin-bottom: 24px;}
.abtbtn{background: #fff; border: 1px solid #4a3358; padding: 0px 15px; color: #4a3358; font-size: 17px;  margin-left: 3px;}
.abtbtn:hover{background: #efe2d7;}
/*********************Event/News Section Classes**********************/
.highlights{background-image: url(../images/events.jpg); height: auto;background-position: right top, left top; background-repeat:repeat; object-position:center; object-fit: contain; width: 100%; padding-top: 18px; padding-bottom: 18px;}
.iconbg{background-image: url(../images/events.jpg); height: auto;background-position: right top, left top; background-repeat:repeat; object-position:center; object-fit: contain; width: 100%; padding-top: 30px;padding-bottom: 30px;}
.evnttab {background: #2d7ab1; padding: 4px; font-size: 25px;text-align: center;color: white;margin: 0px;}
.evntsec {border: 1px solid #fbf7f3; background: #fff;}
.marrspns {padding: 15px;height: 300px; width: 100%;}
.news-area h4{ color:#1f1f39; font-size: 17px;font-weight: bold;overflow: hidden;display: -webkit-box; -webkit-line-clamp: 1;-webkit-box-orient: vertical;height: 1.2em;text-overflow: ellipsis; text-align: left;}
.news-area p{overflow: hidden;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;height: 4.0em;text-overflow: ellipsis;font-size: 15px;}
i.fa.fa-paperclip.green {font-size: 21px; color: #2d7ab1;margin-top: 8px;}
.btn-danger {color: #fff;background-color: #2d7ab1; border-color: #2d7ab1; margin: 10px; padding: 3px 7px}
.btn-danger:hover {background-color:#1f0d5d;}
abbr[title], abbr[data-original-title] {cursor: help; border-bottom: none;text-decoration: none;}
.greencir {color: #fff; font-size: 16px; font-weight: bold; text-align: left; margin-top: 10px;}
.galview{font-size: 16px; float: right; margin-top: 20px;}
.grow { transition: all .4s ease-in-out;} .grow:hover {transform: scale(1.1); transform-style: preserve-3d; box-shadow: 1px 2px 5px 2px #979797;}
.gallery {object-fit: cover;object-position: top;width:193px;height:142px;}
.img-thumbnail {background: linear-gradient(to right, rgb(45, 122, 177) -13%, #a0d340 53%, rgb(87, 155, 228) 110%);}
.boticon{color: #fff;  font-size: 14px;  font-weight: normal; text-align: center; margin-top: 10px;font-style: italic;}
/*********************Footer Classes**********************/
.footertop {background-image: url(../images/footer.jpg);}
.footer {background: linear-gradient(to right, rgb(133, 194, 38) -13%, #141b48 53%, rgb(135, 192, 44) 110%); opacity: 1;}
.footertxt{color: #fff;text-align: center;font-size: 16px;font-weight: normal;margin-bottom: 0px;}
#footer {position: absolute; bottom: 0; width: 100%; height: 60px; background: url(../images/bg.png) repeat;}
/*----------------------------------Inner Page Start Hear--------------------------------*/
.page-title {background-image: url(../images/inner-bg.jpg);background-repeat: repeat;width: 100%;height: 240px;color: #fff;text-align: center;}
.page-title .container-fluid {height: 100%;display: table;}
.background-opacity:before {position: absolute;content: '';top: 0;right: 0;bottom: 0;left: 0;background-color: transparent;}
.background-opacity {position: relative;}
.page-title .page-title-wrapper {display: table-cell;vertical-align: middle;position: relative;z-index: 2;}
.page-title .captions {font-size:20px;font-weight: 900;text-transform: uppercase;line-height: 1;margin: 0 0 7px 0;}
.inner-head{font-size: 35px; margin-bottom: 35px; color: #5c9607; text-align: center;}
.checkList {padding: 3px 0 20px;list-style: none;}
.checkList li {background: url(../images/check.png) no-repeat 0 4px; padding: 3px 0 5px 24px;}
.tablescroll {verflow-x: auto}
.faculty th {padding: 10px;border: solid 1px #ddd;background: #eee;text-align: left;color: #d63138;}
/************************************* news Events *******************************************************************/
.panel-heading {background: #f1f1f1;}
.news_title {float: left;font-size: 18px;font-family: calibri;font-weight: 600;color: #2b1675}
.news_details {float: right;}
.icon-color{color:#428bca;padding-left: 10px;}
/************************************* Animations Modal Css school ERP *******************************************************************/
#myImg, #myImg1, #myImg2 {width: 100%; border: 5px solid rgba(158, 158, 158, 0.1);background: #eaeaea; cursor: pointer; transition: 0.3s;}
#myImg:hover {opacity: 0.7;}
.animodal {display: none;position: fixed; z-index: 99999999999; padding-top: 100px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.9);}
.animodal-content {margin: auto;display: block;}
#anicaption, #anicaption2, #anicaption3 {margin: auto;display: block;text-align: center;color: #fff;padding: 10px 0;height: 150px;font-size: 24px; text-transform: capitalize;}
.animodal-content, #anicaption {-webkit-animation-name: zoom; -webkit-animation-duration: 0.6s; animation-name: zoom;animation-duration: 0.6s;}
@-webkit-keyframes zoom {from {-webkit-transform:scale(0)} to {-webkit-transform:scale(1)} }
@keyframes zoom {from {transform:scale(0)} to {transform:scale(1)}  }
.close { outline: none; position: absolute; top: 15px; right: 35px; font-size: 30px; font-weight: bold; transition: 0.3s; opacity: 0.5;}
@media only screen and (max-width: 700px){.modal-content {width: 100%;height: auto;} .animodal-content, #anicaption {width: 100%;}}
.imgheading {font-size: 20px!important;color: #313c77;margin-top: 0px;text-align: center;margin-bottom: 20px;font-weight: bold;}
/************************************* parent-portal *******************************************************************/
.guideheading {font-size: 20px!important; text-transform: none; color: #171717;margin-top: 0px;margin-bottom: 20px; text-align: left;}
.details {line-height: 27px; font-size: 16px; color: #4e4e4e !important;}
.imgheading {font-size: 21px; text-transform: none; color: #649617;margin-top: 0px;text-align: center; margin-bottom: 20px;text-decoration: none;}
.clr25 {clear: both; height: 25px; margin: 0px; padding: 0px; border: 0px;}
/************************************** Photo gallery ************************************************************************/
/*---------------------------------------------Gallery Section------------------------------------------------------------*/
.gal-cate {padding-bottom: 20px;}
.gal-cate h3 { color: #000; text-align: center; font-size: 19px; margin: 0px; line-height: 35px; background-color:#dbe6b7; overflow: hidden;display: -webkit-box;
-webkit-line-clamp: 1; -webkit-box-orient: vertical; height: 1.8em; text-overflow: ellipsis; font-family: 'Catamaran', sans-serif; text-decoration: none}
.gal-img {object-fit: cover; object-position: top; width: 100%; height: 200px;  cursor: pointer; margin-bottom: 10px;}
.gal-cate h5 {color: white; text-align: center; font-size: 14px; margin: 0px; line-height: 30px; background: #0f83b9; width: 50%; bottom: 35px; position: absolute;}
.column { float: left; width: 25%;}
.row > .column {padding: 0 8px;}
.modal{display: none; position:fixed; z-index: 999999999;padding-top: 100px;left: 0; top: 0; width:100%; height: 100%; overflow: auto; background-color: #000000d9;}
.noshadow { background-image: none!important;}
.grow {transition: all .4s ease-in-out;} .grow:hover {transform: scale(1.1); transform-style: preserve-3d;}
.grey:hover {filter: gray; -webkit-filter: grayscale(100%);}
.galtxt {color: #2d2114; font-size: 16px; font-weight: bold; text-align: center; margin-bottom: 15px;}
.tb-pad-20{ padding-top: 20px; padding-bottom: 20px;}
.carousel-control {top: 180px; font-size: 43px;}
.img-rotate {border-radius: 50%;-webkit-transition: -webkit-transform .8s ease-in-out;transition:transform .8s ease-in-out;}
.img-rotate:hover {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
/*********************Media Query Classes**********************/
@media all and (max-width: 1199px){.navbar-collapse {padding-right: 0px;padding-left: 0px;}.nav>li>a {padding: 10px;} .navbar {margin-top: 0px;} .navbar-nav {padding: 10px 0px;} .textcenter{ text-align: center;} .greencir {font-size: 14px;text-align: center;} .navbar-header { float: none;} .navbar-nav {padding: 10px 0px;float: left;  width: 100%; margin-left: 15%;}}
@media (max-width: 991px){ .navbar-nav {padding: 10px 0px;float: left;  width: 100%; margin-left: 0%;}}
@media all and (max-width: 768px ){.navbar-nav {float: left;} .toptxt {color: white; text-align: left;} .greencir {margin-bottom: 0px;}
.navbar-inverse, .navbar-nav>li>a {margin-left: 0px;} .navbar {margin-bottom: 0px; left: 0px; z-index: 9999;} .navbar-toggle {margin-top: 0px; margin-bottom: 0px;}
.navbar-default, .navbar-toggle {background-color: #88bf31;border: none} .navbar-toggle:hover, .navbar-toggle:focus {background-color: #2b1675;} 
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {color: #88bf31;}
.navbar-default, .navbar-collapse, .navbar-default, .navbar-form {border-color: #fff;max-height: none;} h4 {font-size: 16px;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color:#88bf31; background: #fff; padding-left: 10px;    z-index: 9999;}
.school-part2 {height: auto;width: 30%; float: left; text-align: center; margin-bottom: 10px; margin: 7px;}
.school-part {height: auto;width: 45%; float: left; text-align: center; margin-bottom: 10px;margin: 12px;} .admin {font-size: 13px; height: 4em;line-height: 18px;} .greencir {text-align: center;}.evntsec {margin-bottom: 65px;}.abtbtn {margin-bottom: 20px;}}
@media (max-width: 767px) {.modal-dialog {position: relative;width: 70%;margin: 0 auto;} .gallery-cover {padding: 5px;} .big-heading { margin-top: 0px; font-size: 20px;} .gal img {object-fit: cover;object-position: top;width: 100%;height: 200px;cursor: pointer;} .back{width: 60px; margin-bottom: 20px;}
.gal-cover {min-height: 400px;max-height: 400px;object-position: top;width: 100%;}.column {float: left; width: 50%;}}
@media (max-width: 530px){.school-part {height: auto; width: 42%;}.school-part2 { height: auto; width: 44%;}}
@media (min-width: 420px) and (max-width: 767px) {.gallery-grid {width: 50%;margin: 0 auto;float: left;}}
@media (max-width: 450px) {.gal-cover {min-height: 200px;max-height: 200px;} .modal-dialog {position: relative;width: auto;margin: 10px;} .school-part {height: auto; width: 100%;} .topbar {font-size: 14px;}.school-part2 { height: auto; width: 44%;}}
 @media (max-width: 400px) {
.appdownload {float: left;margin: 0px 4px 0px 0px;width: 85px;}
.app-left-space{ padding-left: 0px; padding-top:10px;}
.apphead{ font-size: 16px !important;color: #ffffff !important; }
}
@media (max-width:320px){ .galgrid{width:100%; margin: 0 auto;} h6 {font-size: 26px;} h1 {font-size: 29px;} h2 {font-size: 22px;} .column {float: left; width: 100%;}.school-part2 { height: auto; width: 100%;}}
.modal-body img {max-height: 500px!important;width: 100%; object-fit: cover; object-position: top;}